<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585866594952-adr87294v88isun6lp4pjdhus3t40hrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585866594952-adr87294v88isun6lp4pjdhus3t40hrb</string>
	<key>API_KEY</key>
	<string>AIzaSyCmDE6n8g71lTufGVRxlAuKc1MBfE7paG0</string>
	<key>GCM_SENDER_ID</key>
	<string>585866594952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.akchan.Sha-InstagramApp</string>
	<key>PROJECT_ID</key>
	<string>sha-instagramapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sha-instagramapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585866594952:ios:5c67d350609fda57a16d3d</string>
</dict>
</plist>